.board{
touch-action: none;
user-select: none;
}

.row{
    display: flex;
    flex-direction: row;
    line-height: 0px;
}

.cell{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 0px;
    border-style: solid;
    border-color: #7d7d7d;
}

.revealed {
  border-top: 2px solid #6e6e6e;
  border-left: 2px solid #6e6e6e;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  background-color: #bdbdbd;
}

.triggered{
    background-color: red;
}
.number-0{
    color: whitesmoke;
}
.number-1{
    color: blue;
}
.number-2{
    color: green;
}
.number-3{
    color: red;
}
.number-4{
    color: darkblue;
}
.number-5{
    color: darkred;
}
.number-6{
    color: cadetblue;
}
.number-7{
    color: black;
}
.number-8{
    color: gray;
}
